model_config_list: {
  config: [
    {
      name: "du",
      base_path: "/models/diagnosa_utama",
      model_platform: "tensorflow"
    },
    {
      name: "ds",
      base_path: "/models/diagnosa_sekunder",
      model_platform: "tensorflow"
    },
    {
      name: "ob",
      base_path: "/models/obat",
      model_platform: "tensorflow"
    }
  ]
}
