@import url("https://fonts.googleapis.com/css2?family=Chela+One&family=Fredericka+the+Great&display=swap");

.judul-medical-math {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
